<html>
    {% load static %}
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        
        {# Load the tag library #}
        {% load bootstrap5 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        {% block styles %}{% endblock %}

        <!-- Fontawesome - Loaded from CDN to reduce load on server -->
        <script src="https://kit.fontawesome.com/5862b78637.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if authenticated %}
            {% include 'topnav.html' %}
            <br />
            {% include 'actionBar.html' %}
            <br />
            <script src="{% static 'scripts/userLanding.js' %}" type="module"></script>
        {% endif %}
        
        {% block content %}{% endblock %}
    </body>
</html>