<html>
    {% load static %}
    <head>
        <!-- Bootstrap - Loading from CDN to reduce load on server -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- Fontawesome - Loaded from CDN to reduce load on server -->
        <script src="https://kit.fontawesome.com/5862b78637.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if authenticated %}
            {% include './topnav.html' %}
        {% endif %}
        <div id="root"></div>
        <script src="{% static '/scripts/home.js' %}" type="module"></script>
    </body>
</html>