{% if pending_friend_requests_count > 0 or user_friend_requests_count > 0 %}
    <div class="container">
        <h3>Friend Requests</h3>
        <table class="table">
            <tbody>
                {% for friend_request in pending_friend_requests %}
                    <tr>
                        <td width="80%">{{friend_request.from_user.user}}</td>
                        <td>
                            <button profile="{{friend_request.from_user.id}}" class="btn btn-success">Accept</button>
                        </td>
                        <td>
                            <button decline="{{friend_request.from_user.id}}" class="btn btn-danger">Decline</button>
                        </td>
                    </tr>
                {% endfor %}
                {% if user_friend_requests_count > 0 %}
                    {% for request in user_friend_requests %}
                        <tr>
                            <td width="80%">{{request.to_user.user}}</td>
                            <td width="10%">
                                <button class="btn btn-primary" disabled="true">Pending</button>
                            </td>
                            <td width="10%">
                                <button cancel="{{request.to_user.id}}" class="btn btn-danger">Cancel</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endif %}