{% load static %}
<div>
    {% for status in statuses %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <img profileThumbnail id="thumbnail_{{status.id}}" status="{{status.id}}" src="{{status.profile.thumbnail}}" height="50" width="50" alt="profile picture" />
                        <img profileThumbnailFallback id="fallback_{{status.id}}" status="{{status.id}}" src="{% static 'images/defaultProfile.jpg' %}" height="50" width="50" alt="profile picture" hidden />
                    </div>
                    <div class="col-10">
                        <div class="text-start">
                            <h4>{{status.profile.user}}</h4>
                        </div>
                    </div>
                </div>
                <div class="row text-end">
                    <small>{{status.date}}</small>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <!-- renders newlines as linebreaks -->
                    {{status|striptags|linebreaksbr}}
                </div>
            </div>
        </div>
        <br />
    {% endfor %}
</div>
<script src="{% static 'scripts/profilePicture.js' %}"></script>